name: Go
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: stable
        cache-dependency-path: go.mod
    - run: go get -v -t -d ./...
    - run: go build -v ./...
